---
layout: home
---

<nav class="navbar navbar-static-top">
    {% include navbar_contents.html %}
</nav>

<!-- {% include jumbotron.html %} -->

<div class="container">
    <div class="page-header">
          <h3>Writing</h3>
    </div>
    <ul>
      {% for post in site.posts %}

          <!-- External writing, projects, etc. -->

          {% if post.source-name %}
          <li>
              <a href="{{ post.source-url }}">{{ post.title }}</a>
              <small class="text-uppercase text-muted">
                {% if post.source-name %} &centerdot; {{ post.source-name }} {% endif %}
                &CenterDot;  {{ post.date | date: "%b %Y" }}
              </small>
          </li>

          {% else %}

          <!-- Direct blog posts -->

          <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <small class="text-uppercase text-muted"> &CenterDot; {{ post.date | date: "%b %Y" }}</small>
          </li>

          {% endif %}
      {% endfor %}
    </ul>

</div>
