---
layout: home
---

<div class="container">
    <h1>Recent Updates</h1>
    <hr>

    {% for post in site.posts limit: 4 %}

        <h5>
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        </h5>

        {% if post.source-name %}
            <div class="pre-paper" {% if post.color %} style="background-color: #{{post.color}};" {% endif %}>
                <a href="{{ post.url }}" style="display: block;">
                    <p>
                        {% if post.source-name %}
                        {{ post.noun | capitalize | default: "Post"}} {{ post.verb | default: "written for" }} <em>{{ post.source-name }}</em>:
                        {% endif %}
                    </p>
                </a>

            </div>
        {% endif %}

        <div class="paper">
            {% if post.source-name %}
                <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
            {% else %}
                <h3><a href="{{ post.url}}">{{ post.title }}</a></h3>
                <hr>
            {% endif %}

            <article>
                {% if post.source-name %}
                    {{ post.content | truncatewords: 25 }}
                {% else %}
                    {{ post.content | truncatewords: 200 }}
                {% endif %}

                <p>
                    {% if post.source-name %}
                    <small><a href="{{ post.url }}">
                        {{ post.action | default: "read" | capitalize}} {{ post.noun | default: "post"}}&hellip;
                    </a></small>
                    {% else %}
                    <a class="btn btn-sm btn-default btn-block" href="{{ post.url }}">Continue reading&hellip;</a>
                    {% endif %}
                </p>
            </article>
        </div>
    {% endfor %}

    <div class="col-sm-12">
        <div class="col-sm-6">
            <p><a class="btn btn-default btn-block" href="/writing">More writing&hellip;</a></p>
        </div>
        <div class="col-sm-6">
            <p><a class="btn btn-default btn-block" href="/writing">More blog posts&hellip;</a></p>
        </div>
    </div>

</div>
