---
layout: home
---

<div class="jumbotron">
    <div class="container">
        <h1>Zachary Sorenson</h1>
        <p>
            <img src="/images/zws.jpg" class="img-circle pull-right post-caption" style="max-width: 144px"/>
            {{ site.description }}
        </p>
        <p><small><a href="/about/">About me &rarr;</a></small></p>
    </div>
</div>

<div class="container">

    <h2 class="page-header"><a href="/writing/">Writing</a></h2>
    {% include feed.html category="writing" date="%b %-d, %Y" limit=2 %}

    <h2 class="page-header"><a href="/projects/">Projects</a></h2>
    {% include feed.html category="projects" date="%B %Y" limit=2 %}

    <h2 class="page-header"><a href="/blog/">Blog</a></h2>
    {% include feed.html category="blog" date="%b %-d, %Y" limit=2 %}

</div>
