<footer class="container" style="margin: 80px auto 20px auto">
    <form class="form-inline" action="//zws.us11.list-manage.com/subscribe/post?u=35d33a4deb77556304f5bfc8e&amp;id=f14cd9a0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_35d33a4deb77556304f5bfc8e_f14cd9a0c3" tabindex="-1" value=""></div>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control input-sm" placeholder="Email Address">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-sm">Subscribe</button>
        <a class="btn btn-default btn-sm pull-right" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </form>



</footer>
