<footer class="container">
    <!-- <form class="form-inline footer-form" action="//zws.us11.list-manage.com/subscribe/post?u=35d33a4deb77556304f5bfc8e&amp;id=f14cd9a0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_35d33a4deb77556304f5bfc8e_f14cd9a0c3" tabindex="-1" value=""></div>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control input-sm" placeholder="Email Address">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-sm">Subscribe to posts</button>
        <a class="btn btn-default btn-sm pull-right" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>

    </form> -->
    <span style="line-height: 2.35"><small>Copyright © 2016 <a href="mailto:{{ site.email }}">Zachary Sorenson</a></small></span>
    <span class="pull-right">
        <div class="fb-follow" data-href="https://www.facebook.com/zwsorenson" data-width="96px" data-height="12px" data-layout="button_count" data-show-faces="true"></div>
    </span>
</footer>


<!-- Load javascript content after site -->

<!-- jQuery and Bootstrap Tooltips -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Site scripts -->
<script type="text/javascript" src="/js/scripts.js"></script>
