<nav class="navbar navbar-inverse {% if page.url != "/" %}navbar-fixed-top{% else %}navbar-static-top{% endif %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if page.url != "/" %}
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                Z<span class="hidden-xs">achary W. </span><span class="visible-xs-inline">WS</span><span class="hidden-xs"> Sorenson</span>
                <!-- ZWS -->
            </a>
            {% endif %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav {% if page.url == "/" %} navbar-right {% endif %}">
                <li {% if page.url contains "/blog/" %} class="" {% endif %}>
                    <a href="/blog/">Blog</a>
                </li>
                <li {% if page.url contains "/projects/" %} class="" {% endif %}>
                    <a href="/projects/">Projects</a>
                </li>
                <li {% if page.url contains "/writing/" %} class="" {% endif %}>
                    <a href="/writing/">Writing</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
