<nav class="navbar navbar-default navbar-fixed-top {% if page.url == '/index.html' %}navbar-hidden{% endif %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <!-- Z<span class="hidden-xs hidden-sm">ach </span><span class="visible-xs-inline visible-sm-inline">WS</span><span class="hidden-xs hidden-sm"> Sorenson</span> -->
                ZWS
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/writing/">Writing</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
