<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>Zach Sorenson</h1>
            </div>
            <div class="col-lg-8">
                <p>
                    <img src="/images/zws.jpg" class="img-circle pull-right post-caption" style="max-width: 144px"/>
                    {{ site.description }}
                </p>
                <a type="button" class="btn btn-default" href="/about/">About me </a>
            </div>
        </div>
    </div>
</div>
