<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="container">
        <h1>Zachary Sorenson</h1>
        <p>
            <img src="/images/zws.jpg" class="img-circle pull-right post-caption" style="max-width: 144px"/>
            {{ site.description }}
        </p>
        <p><small>
            <a href="https://www.facebook.com/zwsorenson"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/zwsorenson"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/zwsorenson"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/zwsorenson"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.medium.com/@zwsorenson"><i class="fa fa-medium" aria-hidden="true"></i></a>
            <a href="https://www.github.com/zwsorenson"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="mailto:hi@zachsorenson.com"><i class="fa fa-envelope" aria-hidden="true"></i> </a>
            <a href="/about/">About me &hellip;</a>
        </small></p>
    </div>
</div>
