<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Zach Sorenson</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12">
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                <img src="/images/zws.jpg" class="img-circle post-caption" style="max-width: 100%;"/>
            </div>
        </div>
    </div>
</div>
