<div class="container">
    <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> -->
        {% if page.url != "/" %}
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            Z<span class="hidden-xs">ach</span><span class="visible-xs-inline">WS</span><span class="hidden-xs"> Sorenson</span>
            <!-- ZWS -->
        </a>
        {% endif %}
    </div>
    <!-- <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="/">Home</a>
            </li>
            <li {% if page.url contains "/about/" %} class="" {% endif %}>
                <a href="/about/">About Me</a>
            </li>
            <li {% if page.url contains "/resume/" %} class="" {% endif %}>
                <a href="/resume/">Resume</a>
            </li>
            <li {% if page.url contains "/projects/" %} class="" {% endif %}>
                <a href="/projects/">Projects</a>
            </li>
            <li {% if page.url contains "/writing/" %} class="" {% endif %}>
                <a href="/writing/">Writing</a>
            </li>
            <li {% if page.url contains "/blog/" %} class="" {% endif %}>
                <a href="/blog/">Posts</a>
            </li>
        </ul>
    </div> -->
</div>
