<!-- <div class="btn-group pull-right">
    <a class="btn btn-primary btn-sm" target="blank" href="http://www.facebook.com/share.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-facebook"></i> Share</a>
    <a class="btn btn-primary btn-sm" target="blank" href="http://twitter.com/intent/tweet?status=.%40zwsorenson%3A%20{{ page.title }}+{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-twitter"></i> Tweet</a>
</div> -->
<div>
    <div
        class="fb-like"
        data-href="{% if page.source-url %}{{ page.source-url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}"
        data-share="true"
        data-action="recommend"
        data-show-faces="true"
        data-layout="button_count">
    </div>
</div>
