<div class="panel panel-default pull-left" style="margin-right: 15px">
    <div class="panel-heading">Find me on</div>
    <table class="table">
        <tr>
            <td>
                <a href="https://www.facebook.com/zwsorenson">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.facebook.com/zwsorenson">
                    Facebook
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.instagram.com/zwsorenson">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.instagram.com/zwsorenson">
                    Instagram
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.twitter.com/zwsorenson">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.twitter.com/zwsorenson">
                    Twitter
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.medium.com/@zwsorenson">
                <i class="fa fa-medium" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.medium.com/@zwsorenson">
                Medium
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/zwsorenson">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/zwsorenson">
                LinkedIn
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.github.com/zwsorenson">
                <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="https://www.github.com/zwsorenson">
                GitHub
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="mailto:hi@zachsorenson.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="mailto:hi@zachsorenson.com">
                    Email
                </a>
            </td>
        </tr>
    </table>
</div>
