body {
	background: none!important;
	position: absolute;
	top: 0; left: 0; right: 0;
}

html { 
  background: rgb(60, 90, 140) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
}

div.card {
	background-color: rgba(255, 255, 255, .85);
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 24px 28px;
	max-width: 600px;
	margin: 80px auto;
	h1, h3 {
		margin: 0;
		padding: 0;
	}
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

table {
	width: 100%;
}

td {
	vertical-align: middle;
	padding: 12px;
}

.headshot {
	width: 180px;
	height: 180px;
	max-width: 30vw;
	max-height: 30vw;
	background-size: cover;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	-o-border-radius: 400px;
	border-radius: 400px;
}

h1 {
	font-family: 'Crimson Text', Georgia, serif;
	color: rgb(60, 90, 140);
	padding-bottom: 24px;
}

a.btn {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #2e2d29;
	text-decoration: none;
	display: inline-block;
	padding: 8px 18px 4px 18px;
	margin: 0 18px 12px 0;
	background-color: #fff;
	border-bottom: 4px solid #fff;
	&:hover {
		background-color: rgba(60, 90, 140, .4);
		color: #fff;
		border-color: rgb(60, 90, 140);
	}
}