---
layout: post
title: Blog
---
{% for post in site.categories["blog"] %}

    <h5>
        <small>{{ post.date | date: "%B %-d, %Y" }}</small>
    </h5>

    <div class="paper">
        <h3><a href="{{ post.url}}">{{ post.title }}</a></h3>
        <hr>

        <article>
            {% if post.image-url %}
                <div class="pull-right col-sm-6 post-caption">
                    <img src="{{ post.image-url }}" class="img-responsive" />
                </div>
            {% endif %}
            {{ post.content | truncatewords: 150 }}

            <p>
                <a class="btn btn-sm btn-default btn-block" href="{{ post.url }}">Continue reading&hellip;</a>
            </p>

            <a href="{{ post.url | prepend: site.url }}#disqus_thread">Comments</a>
        </article>
    </div>
{% endfor %}
