<!DOCTYPE html>
<html>

{% include head.html %}

<body {% if page.url contains "resume" %}data-spy="scroll" data-target="#resume-nav" {% endif %}>

    <nav class="navbar  navbar-inverse navbar-fixed-top">
        {% include navbar_contents.html %}
    </nav>

    <div class="container" style="padding-top: 60px;">
        {{ content }}
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <div id="fb-root"></div>
    <script id="dsq-count-scr" src="//zwsorenson.disqus.com/count.js" async></script></body>

</html>
