---
layout: default
---
<div class="page-header">
    {% if page.source-thumb %}
    <div class="pull-right">
        <a href="{{ page.source-url }}">
            <img class="media-object" src="{{ page.source-thumb }}" alt="{{ page.source-name }}" style="max-width: 64px;"/>
        </a>
    </div>
    {% endif %}
    <div>
        <h1>{{ page.title }}</h1>
        <h4>
            <small>
                {{ page.date | date: "%b %-d, %Y" }}
                {% if page.source-name %} ·
                    {% if page.source-url %}<a href="{{ page.source-url }}">{% endif %}
                    {{ page.source-name }}
                    {% if page.source-url %}</a>{% endif %}

                {% endif %}
            </small>
        </h4>
    </div>
</div>

{% if page.image-url %}
    <div class="pull-right col-sm-6 post-caption">
        <img src="{{ page.image-url }}" class="img-responsive" />
        {% if page.image-caption %}
            <small>{{ page.image-caption }}</small>
        {% endif %}
    </div>
{% endif %}

<article>
    {% if page.intro %}
        <div class="well">
            <small>{{ page.intro}}</small>
        </div>
    {% endif %}
    {{ content }}
</article>

{% if page.categories contains "blog" %}
    <hr />
    {% include share.html %}
    {% include comments.html %}
{% endif %}
{% if page.categories contains "writing" %}
    <hr />
    {% include share.html %}
{% endif %}

{% if page.categories contains "projects" %}
    {% if page.download-url %}
    <div class="text-center">
        <a href="{{ page.download-url }}" class="btn btn-primary btn-sm">
            Download Project
            {% if page.source-name %}
                <br> <small>{{ page.source-name }}  <span class="glyphicon glyphicon-download-alt"></span></small>
            {% else %}
                <span class="glyphicon glyphicon-download-alt"></span>
            {% endif %}
        </a>
    </div>
    {% elsif page.source-url %}
    <div class="text-center">
        <a href="{{ page.source-url }}" class="btn btn-primary btn-sm">
            View Project
            {% if page.source-name %}
                <br> <small>{{ page.source-name }}  <span class="glyphicon glyphicon glyphicon-new-window"></span></small>
            {% else %}
                <span class="glyphicon glyphicon-new-window"></span>
            {% endif %}
        </a>
    </div>
    {% endif %}
{% endif %}
