---
layout: default
---
<div style="margin-top: 36px;">
    <div class="page-header" style="margin-top: 0px;">
        {% if page.source-thumb %}
        <div class="pull-right">
            <a href="{{ page.source-url }}">
                <img class="media-object" src="{{ page.source-thumb }}" alt="{{ page.source-name }}" style="max-width: 64px;"/>
            </a>
        </div>
        {% endif %}
        <div>
            <h2>{{ page.title }}</h2>
            <h4>
                <small>
                    {{ page.date | date: "%B %-d, %Y" }}
                    {% if page.source-name %} ·
                        {% if page.source-url %}<a href="{{ page.source-url }}">{% endif %}
                        {{ page.source-name }}
                        {% if page.source-url %}</a>{% endif %}

                    {% endif %}
                </small>
            </h4>
        </div>
    </div>

    <!-- {% if page.image-url %}
        <div class="pull-right col-sm-6 post-caption">
            <img src="{{ page.image-url }}" class="img-responsive" />
            {% if page.image-caption %}
                <small>{{ page.image-caption }}</small>
            {% endif %}
        </div>
    {% endif %} -->

    <article>
        {% if page.intro %}
            <div class="well">
                <small>{{ page.intro}}</small>
            </div>
        {% endif %}
        {{ content }}
    </article>
</div>

{% if page.categories contains "blog" %}
    {% include share.html %}
    {% include comments.html %}
{% endif %}
{% if page.categories contains "writing" %}
    {% include share.html %}
{% endif %}
